<template>
  <form @submit.prevent="handleSubmitForm" class="card auth-card">
    <div class="card-content">
      <span class="card-title">Домашняя бухгалтерия</span>
      <div class="input-field">
        <input id="email" type="text" v-model.trim="email"
          :class="{ invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.$model) }">
        <label for="email">Email</label>
        <small v-if="$v.email.$dirty && !$v.email.required" class="helper-text invalid">
          Email не может быть пустым
        </small>
        <small v-else-if="$v.email.$dirty && !$v.email.email" class="helper-text invalid">
          Введите корректный email
        </small>
      </div>
      <div class="input-field">
        <i @click="handleToggleInputType" style="cursor: pointer;position: absolute; top: 10px; right: 10px;"
          class="material-icons right material-icons-password">remove_red_eye</i>
        <input ref="password" id="password" type="password" v-model.trim="$v.password.$model"
          :class="{ invalid: ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength) }">
        <label for="password">Пароль</label>
        <small v-if="$v.password.$dirty && !$v.password.required" class="helper-text invalid">
          Пароль не может быть пустым
        </small>
        <small v-else-if="$v.password.$dirty && !$v.password.minLength" class="helper-text invalid">
          Пароль должен иметь не менее {{ $v.password.$params.minLength.min }} символов
        </small>
      </div>
    </div>
    <div class="card-action">
      <div>
        <button class="btn waves-effect waves-light auth-submit" type="submit">
          Войти
          <i class="material-icons right">send</i>
        </button>
      </div>

      <p class="center">
        Нет аккаунта?
        <router-link to="/register">Зарегистрироваться</router-link>
      </p>
    </div>
  </form>
</template>

<script>
import { email, required, minLength } from 'vuelidate/lib/validators'
export default {
  data() {
    return {
      email: '',
      password: '',
      passwordLength: 6
    }
  },
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(6) }
  },
  name: 'loginView',
  methods: {
    handleToggleInputType() {
      this.$refs.password.type === "password"
        ? this.$refs.password.type = "text"
        : this.$refs.password.type = "password"
    },

    async handleSubmitForm() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const formData = {
        email: this.email,
        password: this.password,
      }

      try {
        await this.$store.dispatch('login', formData)
        this.$router.push('/')
      } catch(e) {}
    }
  }
}
</script>
