<template>
  <form class="card auth-card" @submit.prevent="handleSubmitForm">
    <div class="card-content">
      <span class="card-title">Домашняя бухгалтерия</span>
      <div class="input-field">
        <input id="email" type="text" v-model.trim="$v.email.$model"
          :class="{ invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.$model) }">
        <label for="email">Email</label>
        <small v-if="$v.email.$dirty && !$v.email.required" class="helper-text invalid">
          Email не может быть пустым
        </small>
        <small v-else-if="$v.email.$dirty && !$v.email.email" class="helper-text invalid">
          Введите корректный email
        </small>
      </div>
      <div class="input-field">
        <i @click="handleToggleInputType" style="cursor: pointer;position: absolute; top: 10px; right: 10px;"
          class="material-icons right material-icons-password">remove_red_eye</i>
        <input ref="password" id="password" type="password" v-model.trim="$v.password.$model"
          :class="{ invalid: ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength) }">
        <label for="password">Пароль</label>
        <small v-if="$v.password.$dirty && !$v.password.required" class="helper-text invalid">
          Пароль не может быть пустым
        </small>
        <small v-else-if="$v.password.$dirty && !$v.password.minLength" class="helper-text invalid">
          Пароль должен иметь не менее {{ $v.password.$params.minLength.min }} символов
        </small>
      </div>
      <div class="input-field">
        <input v-model.trim="$v.name.$model" id="name" type="text" class="validate"
          :class="{ invalid: ($v.name.$dirty && !$v.name.required) || ($v.name.$dirty && !$v.name.name) }">
        <label for="name">Имя</label>
        <small v-if="$v.name.$dirty && !$v.name.required" class="helper-text invalid">Поле не может оставаться пустым
        </small>
      </div>
      <p>
        <label>
          <input type="checkbox" v-model="$v.agree.$model" />
          <span>С правилами согласен</span>
        </label>
      </p>
    </div>
    <div class="card-action">
      <div>
        <button class="btn waves-effect waves-light auth-submit" type="submit">
          Зарегистрироваться
          <i class="material-icons right">send</i>
        </button>
      </div>

      <p class="center">
        Уже есть аккаунт?
        <router-link to="/login">Войти!</router-link>
      </p>
    </div>
  </form>
</template>

<script>
import { email, required, minLength } from "vuelidate/lib/validators"
import messages from "@/utils/messages"
export default {
  name: "registerView",
  data() {
    return {
      email: '',
      password: '',
      name: '',
      agree: false
    }
  },
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(6) },
    name: { required },
    agree: { checked: (v) => v }
  },
  methods: {
    handleToggleInputType() {
      this.$refs.password.type === "password"
        ? this.$refs.password.type = "text"
        : this.$refs.password.type = "password"
    },
    async handleSubmitForm() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }

      const formData = {
        email: this.email,
        password: this.password,
        name: this.name
      }

      try {
        await this.$store.dispatch('register', formData)
      } catch (error) { }

      this.$router.push('/')
    }
  },
  mounted() {
    if (messages[this.$route.query.message]) {
      this.$message(messages[this.$route.query.message])
    }
  }
}
</script>
