<template>
  <div class="app">
    <component :is="layout">
      <router-view>

      </router-view>
    </component>
  </div>
</template>

<script>
import EmptyLayout from './layout/EmptyLayout.vue'
import MainLayout from './layout/MainLayout.vue'
import '../src/assets/index.css'

export default {
  computed: {
    layout () {
      return (this.$route.meta.layout || 'empty') + '-layout'
    }
  },
  components: { EmptyLayout, MainLayout }
}
</script>

<style lang="scss"></style>
