<template>
  <div>
    <loader-view v-if="loading"/>
    <div v-else class="app-main-layout">
      <NavBar @handleClickBurger="isOpenSideBar = !isOpenSideBar" />
      <SideBar v-model="isOpenSideBar" />
      <main class="app-content" :class="{ full: !isOpenSideBar }">
        <div class="app-page">
          <router-view></router-view>
        </div>
      </main>

      <div class="fixed-action-btn">
        <router-link class="btn-floating btn-large blue" to="/record">
          <i class="large material-icons">add</i>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/App/NavBar.vue'
import SideBar from '@/components/App/SideBar.vue'

export default {
  name: 'main-layout',
  components: { NavBar, SideBar },

  data: () => ({
    isOpenSideBar: true,
    loading: true
  }),

  async mounted() {
    if (!Object.keys(this.$store.getters.info).length) {
      await this.$store.dispatch('fetchInfo')
    }

    this.loading = false
  }
}
</script>
